In [3]:
import pandas as pd

In [4]:
iris_db = pd.read_csv('IRIS.csv')
iris_db

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
iris_db.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [7]:
iris_db.shape

(150, 5)

In [8]:
my_df = pd.DataFrame([[10,20,30,40, "Avatar"]])
my_df

,0,1,2,3,4
0,10,20,30,40,Avatar

In [10]:
my_df_1 = pd.DataFrame([[10, 20, 30, 40, "Avatar World"]], columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])
my_df_1

,sepal_length,sepal_width,petal_length,petal_width,species
0,10,20,30,40,Avatar World

In [16]:
iris_db=iris_db.append(my_df_1, ignore_index=True)

In [17]:
iris_db.sort_index(inplace=True)

In [18]:
iris_db.tail()

,sepal_length,sepal_width,petal_length,petal_width,species
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,10.0,20.0,30.0,40.0,Avatar World

In [21]:
iris_db['sepal_length'].sum()

886.5

In [22]:
iris_db[['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']].sum()

In [23]:
sum_sepal_length = iris_db["sepal_length"].sum()
sum_sepal_width = iris_db["sepal_width"].sum()
sum_petal_length = iris_db["petal_length"].sum()
sum_petal_width = iris_db["petal_width"].sum()

my_df = pd.DataFrame([[sum_sepal_length, sum_sepal_width, sum_petal_length, sum_petal_width, "Avatar World"]], columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])
iris_db.append(my_df)

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,10.0,20.0,30.0,40.0,Avatar World
0,886.5,478.1,593.8,219.8,Avatar World

In [24]:
iris_db.nunique()

In [28]:
iris_db['sepal_length'].unique()

In [36]:
iris_db_1 = iris_db.drop(axis=1, columns=['species'])
iris_db_1

,sepal_length,sepal_width,petal_length,petal_width
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8
150,10.0,20.0,30.0,40.0

In [38]:
iris_db_2 = iris_db_1
iris_db_2

,sepal_length,sepal_width,petal_length,petal_width
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8
150,10.0,20.0,30.0,40.0

In [39]:
iris_db_divide = iris_db_1 / iris_db_2
iris_db_divide

,sepal_length,sepal_width,petal_length,petal_width
0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0
...,...,...,...,...
146,1.0,1.0,1.0,1.0
147,1.0,1.0,1.0,1.0
148,1.0,1.0,1.0,1.0
149,1.0,1.0,1.0,1.0
150,1.0,1.0,1.0,1.0

In [41]:
iris_db_divide.join(iris_db['species'])

,sepal_length,sepal_width,petal_length,petal_width,species
0,1.0,1.0,1.0,1.0,Iris-setosa
1,1.0,1.0,1.0,1.0,Iris-setosa
2,1.0,1.0,1.0,1.0,Iris-setosa
3,1.0,1.0,1.0,1.0,Iris-setosa
4,1.0,1.0,1.0,1.0,Iris-setosa
...,...,...,...,...,...
146,1.0,1.0,1.0,1.0,Iris-virginica
147,1.0,1.0,1.0,1.0,Iris-virginica
148,1.0,1.0,1.0,1.0,Iris-virginica
149,1.0,1.0,1.0,1.0,Iris-virginica
150,1.0,1.0,1.0,1.0,Avatar World