In [5]:
import pandas as pd
import numpy as np

In [7]:
mock_data = pd.read_csv('MOCK_DATA.csv')

In [8]:
mock_data.head()

,name,usn,attendence
0,Porty,40,90
1,Wolf,36,94
2,Craig,98,13
3,Royal,75,52
4,Obed,24,15

In [26]:
mock_data["usn"][mock_data["usn"] % 2 ==0]=np.NAN

<ipython-input-26-e6c36285ff34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mock_data["usn"][mock_data["usn"] % 2 ==0]=np.NAN

In [27]:
mock_data.head()

,name,usn,attendence
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,Royal,75.0,52.0
4,NaN,NaN,NaN

In [28]:
drug_data = pd.read_csv('drug.csv')

In [30]:
drug_data.head()

,Drug Name,Country,Average Consumption
0,Hydrocodone Bitartrate and Ibuprofen,China,21.706
1,Fluconazole,Zimbabwe,21.564
2,hemorrhoidal cooling,Brazil,55.744
3,Thyme,Philippines,20.962
4,Fentanyl,Nepal,90.059

In [46]:
drug_data_brazil = drug_data[drug_data["Country"]=="Brazil"]

In [49]:
drug_data_brazil.drop("Country",axis=1,inplace=True)

/opt/python/envs/default/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [50]:
drug_data_brazil.reset_index(drop=True,inplace=True)

In [53]:
drug_data_brazil

,Drug Name,Average Consumption
0,hemorrhoidal cooling,55.744
1,ReCreate Foundation,18.154
2,health mart nose,36.884
3,Hydrocodone Bitartrate and Acetaminophen,9.521
4,RANITIDINE,43.076
5,Metalogin,75.222
6,Ganirelix Acetate,53.169
7,Clario Foaming Alcohol Instant Hand Sanitizer,80.626
8,Celox Antiseptic,5.125
9,Broad Spectrum SPF 70 Sunscreen,26.605
10,Flawless Finish Dual Perfection Makeup SPF 8 C...,90.250
11,DIVALPROEX SODIUM,11.818
12,Hydrogen Peroxide,30.876
13,Diclofenac Sodium and Misoprostol,69.061
14,Xylocaine,73.414
15,L OCCITANE IMMORTELLE BRIGHTENING HAND CARE BR...,63.663
16,Warfarin Sodium,7.211
17,ESIKA HYDRACOLOR 2 IN 1 HIGHLY MOISTURIZING AN...,22.858
18,Papaya Mango Antibacterial Hand,51.110
19,Lisinopril with Hydrochlorothiazide,57.536
20,Genlabs Strike Bac Antibacterial Handsoap,28.066
21,CardinalHealth alcohol prep pads MEDIUM,93.468
22,GONAL-F RFF,58.537
23,Prochlorperazine,31.075
24,Ibuprofen,61.754
25,Prandin,61.040
26,Terrasil S.O.S. Formula,91.216
27,TYLENOL COLD MULTI-SYMPTOM DAYTIME,30.889
28,Antacid,34.018
29,SAFEWAY NICOTINE TRANSDERMAL SYSTEM,74.056
30,Fludeoxyglucose F 18,73.685
31,Triamterene and Hydrochlorothiazide,89.476
32,Midazolam,95.842
33,Medroxyprogesterone Acetate,80.110
34,Pain-A-Trate,11.500
35,Rocky Mountain Sunscreen,86.942
36,Carduus marianus e fruct. 6 Special Order,40.693
37,Heparin Sodium,75.390
38,Speed Stick,58.270
39,Baclofen,96.827
40,HYDROCORTISONE,46.676
41,Head Remedy Dandruff Conditioner,77.207
42,Trospium Chloride,56.425
43,ACTIFIRM RECOVERY,23.375
44,Donepezil Hydrochloride,76.856
45,Iris Antimicrobial Hand,95.315

In [54]:
drug_data_india = drug_data[drug_data["Country"]=="India"]

In [55]:
drug_data_india.drop("Country",axis=1,inplace=True)

/opt/python/envs/default/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [56]:
drug_data_india.reset_index(drop=True,inplace=True)

In [57]:
drug_data_india

In [62]:
drug_data_nepal = drug_data[drug_data["Country"]=="Nepal"]

In [63]:
drug_data_nepal.drop("Country",axis=1,inplace=True)

/opt/python/envs/default/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [64]:
drug_data_nepal.reset_index(drop=True,inplace=True)

In [69]:
drug_data_nepal

pandas.core.frame.DataFrame

In [67]:
country_data = drug_data.groupby(["Country","Drug Name"],group_keys=True)

In [68]:
country_data.first()

In [70]:
unique_countries = drug_data["Country"].unique()
unique_countries

In [81]:
df_list = []
for x, i in enumerate(unique_countries):
    state = drug_data[drug_data["Country"]==i]
    df_list.append((state))
df_list[1]

,Drug Name,Country,Average Consumption
1,Fluconazole,Zimbabwe,21.564
393,RHINOCORT AQUA,Zimbabwe,22.809
521,ATORVASTATIN CALCIUM,Zimbabwe,69.949
662,Risperidone,Zimbabwe,38.047

In [86]:
drug_data_country = drug_data.groupby(['Country', 'Drug Name'])['Average Consumption '].max()

In [83]:
mock_data = mock_data.reset_index()

In [ ]:
mock_data[mock_data['Average Consumption '] == mock_data['Average Consumption '].max()]

In [94]:
drug_list = []countries = (drug_df["Country"].unique())max_list = []

SyntaxError: SyntaxError: invalid character in identifier